/* Componente principal */
.servicos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 120px auto 50px auto;
}

.servicos .conteudo {
    width: 1550px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

/* Conteúdo principal */
.servicos .servicosContent {
    width: 1050px;
    height: 730px;
}

/* Filtro dos serviços */
.servicos .servicosFiltter {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 350px;
    height: fit-content;
    padding: 15px;
    margin-right: 20px;
}

.servicosFiltter .filtroHeader {
    color: var(--blue3);
    font-weight: 600;
}

.servicosFiltter .filtroBody span {
    color: var(--blue3);
}

.servicosFiltter .filtroBody select {
    color: var(--blue3);
}

.servicosFiltter .filtroBody input[type="range"] {
    /* Add styles if needed */
}

/* Box de serviços */
.servicosBox {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.servicosBox .servicoInfo {
    float: right;
    margin: 0;
}

.servicosBox .servicoInfo h6,
.servicos .servicosBox p {
    margin: 0 0 0 10px;
}

/* Item 2 */
.item2 {
    display: flex;
    flex-direction: column;
}

.item2 span {
    position: relative;
    top: 20px;
}

/* Preço do serviço */
.conteudo .precoServico {
    position: relative;
    top: -4px;
    align-self: flex-end;
}

/*Loading dos serviços*/


.servicoLoading{


    display: flex;


    flex-direction: row;


    justify-content: center;


    width: 100%;


}


.servicoLoading div{


    width: 10px;


    height: 10px;


    border-radius: 100%;


    background-color: var(--blue3);


    margin: 5px;





}


.servicoLoading .bar1{


    animation: jumping1 1s infinite ease-in-out;


}


.servicoLoading .bar2{


    animation: jumping2 1s infinite ease-in-out;


}


.servicoLoading .bar3{


    animation: jumping3 1s infinite ease-in-out;


}

input[type="range"]:hover {
    background: var(--blue2); /* Change background on hover */
}

/* Animações */
@keyframes jumping1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes jumping2 {
    0% {
        transform: translateY(0);
    }
    70% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes jumping3 {
    0% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}


