.error {
    color: rgba(255,0,0,0.78);
    margin: 0;  
}
.cadastroContent{
    width: 750px;
    height: clamp(740px,fit-content,100%);
    margin: 120px auto 40px auto;
    box-shadow: 0px 3px 12px -3px rgba(0,0,0,0.36);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    text-align: center;
}
.cadastroContent form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    padding: 30px;
}
.cadastroContent form .logoCadastro{
    align-self: flex-start;
    padding: 10px;
}
.cadastroContent h4{
    color: var(--blue3);
    font-weight: 600;
    font-size: 28px;
}
.cadastroContent form p{
    opacity: .7;

}
.cadastroContent form .nameInput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    gap: 40px;
}

.cadastroContent form .email{
    width: 80%;
}
.cadastroContent form .date {
    width: 80%;
}
.cadastroContent form .date label{
    align-self: flex-start;
}
.cadastroContent form .passwordInputCadastro{
    justify-content: space-between;
    width: 80%;
    gap: 40px;
}
.cadastroContent form .continuarCadastro1{
    width: 80%;
    background-color: var(--blue3);
}
.cadastroContent form .buttonGroup .continuarCadastro2{
    width: 100%;
    background-color: var(--blue3);
}
.cadastroContent form .termos-e-politicas{
    width: 80%;
    opacity: 0.4;
}
.cadastroContent form .codeInput{
    width: 40%;
}
.cadastroContent form .interesse{
    width: 80%;
}
.cadastroContent form .descricao{
    width: 80%;
}
.cadastroContent form .cepInputs{
    width: 80%;
}
.cadastroContent form .cepInputs .itens1, .cadastroContent form .cepInputs .itens2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cadastroContent form .buttonGroup .aplicar{
    background-color: var(--blue3);
    align-self: flex-start;
    float: left;
}
.cadastroContent form .buttonGroup{
    width: 80%;
    
}
.cadastroContent form .cpfInput{
    width: 80%;
}


@media screen and (max-width: 820px){
    .error{
        font-size: 14px;
    }
    .cadastroContent form .logoCadastro{
        display: none;
    }
    .cadastroContent{
        width: 540px;
    }

}
@media screen and (max-width: 552px){

    .cadastroContent{
        box-shadow: none;
        width: 100%;
        height: fit-content;
    }
    .cadastroContent form .cepInputs .itens1,.cadastroContent form .cepInputs .itens2{
        flex-direction: column ;
        gap: 20px;
    }
    
    .cadastroContent form .nameInput{
        flex-direction: column;
        gap: 20px;
    }
    .cadastroContent form .passwordInputCadastro{
        flex-direction: column;
        gap: 20px;
    }
}

