.cadastroContent{
    width: 750px;
    height: 720px;
    margin: 120px auto 40px auto;
    box-shadow: 0px 3px 12px -3px rgba(0,0,0,0.36);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    text-align: center;
}

.cadastroContent .logoCadastro{
    align-self: flex-start;
    padding: 10px;
}
.cadastroContent h4{
    color: var(--blue3);
    font-weight: 600;
    font-size: 28px;
}
.cadastroContent p{
    opacity: .7;

}
.cadastroContent .nameInput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    gap: 40px;
}

.cadastroContent .email{
    width: 80%;
}
.cadastroContent .date {
    width: 80%;
}
.cadastroContent .date label{
    align-self: flex-start;
}
.cadastroContent .passwordInputCadastro{
    justify-content: space-between;
    width: 80%;
    gap: 40px;
}
.cadastroContent .continuarCadastro1{
    width: 80%;
    background-color: var(--blue3);
}
.cadastroContent .termos-e-politicas{
    width: 80%;
    opacity: 0.4;
}
.cadastroContent .codeInput{
    width: 40%;
}
.cadastroContent .interesse{
    width: 80%;
}
.cadastroContent .descricao{
    width: 80%;
}
.cadastroContent .cepInputs{
    width: 80%;
}
.cadastroContent .cepInputs .itens1, .cadastroContent .cepInputs .itens2{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cadastroContent .cepInputs  .aplicar{
    text-align: left ;
}

@media screen and (max-width: 820px){
    .cadastroContent .logoCadastro{
        display: none;
    }
    .cadastroContent{
        width: 540px;
    }
}
@media screen and (max-width: 552px){
    .cadastroContent{
        box-shadow: none;
        width: 100%;
    }
    .cadastroContent .nameInput{
        flex-direction: column;
    }
    .cadastroContent .passwordInputCadastro{
        flex-direction: column;
    }
}

