.cadServico{
    margin-top: 71px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 80vh;
    max-height: 100%;

}
.cadServico .conteudoPrincipal{
    width: 80%;
}
.cadServico .menuLateral{
    width: 20%;
    background-color: rgba(187, 185, 185, 0.103);
    height: 100%;
    display: flex;
    flex-direction: column;
}
.cadServico .menuLateral .profile{
    color: var(--blue3);
    font-weight: 600;
}
.cadServico .menuLateral .profile img{
    border-radius: 100%;
}
.cadServico .menuLateral .tab-links{
    margin-top: 50px;
    list-style-type: none;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.cadServico .menuLateral .tab-links button{
    font-size: 20px ;
   
}
.cadServico .menuLateral .provedor{
    top: 400px;
}
.servicos{
    display: flex;
    flex-direction: column;
    
}

.servicos .adicionar{
    margin: 0 auto;
    width: 97% ;
}


