:root{
    --blue3:#234063;
    --blue4:#1E2D3F;
    --white: #EDF2F4;
}
.hidden {
    display: none;
}


/* Caixa do login */
.loginBox{
    width: 500px;
    height: 600px;
    margin: 120px auto 90px auto;
    box-shadow: 0px 3px 12px -3px rgba(0,0,0,0.36);
}

.loginBox .logoLogin{
    margin-top: 20px;
    margin-left: 20px;
}

/* conteudo do login */
.loginBox .content{
    margin-top: 40px;
}
.loginBox .content h4{
    color: var(--blue3);
    font-weight: 600;
    font-size: 32px;
}
.loginBox .content p{
    font-style: normal;
    opacity: 0.7;
    color: #5A5A5A;
}

/* input's do login */
.entradaDados{
    margin-top: 40px;
    
}
.entradaDados .cpf, .entradaDados .password{
    width: 100%;
    border-radius: 5px;
    border-color: black;
}


.entradaDados input[type = submit]{
    width: 100%;
    padding: 7px;
    background-color: var(--blue3);
    color: white;
    border-radius: 5px;
    border: none;
}

.loginBox .cadConta{
    background-color: none;
    border: 1px solid var(--blue3);
    border-radius: 5px;
    color: #5A5A5A;
    text-decoration: none;

}
.loginBox .cadConta:hover{
    border-color: var(--blue);
    transition: all 0.3s;
    
}

@media screen and (max-width: 552px){
    .loginBox {
        box-shadow: none;
        display: flex;
        position: relative;
        top: 50%;
        justify-content: center;
        width: 100%;
        margin: 120px 0 120px 0 ;

    }
    .loginBox img{
        display: none;
    }

}