.CadastroServicoContent h4 {
    color: var(--blue3);
    font-weight: 550;
}
.CadastroServicoContent .produtoLayout{
    padding: 15px;
    clear: both;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.CadastroServicoContent .produtoLayout .titleReturn{
    display: 	flex;
    flex-direction: row;
    justify-content: space-between;
}
.CadastroServicoContent .produtoLayout h5{
    color: var(--blue3);
}
.adicionar, .remover{
    height: fit-content;
    align-self: center;
    border: 1px solid var(--blue3);
    margin-left: 10px;
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 20%;
    transition: all 0.2s;
    }
    .CadastroServicoContent .produtoLayout p{
        color: var(--blue3);
        font-weight: 600;
    }
.adicionar:active, .remover:active {
    background-color: var(--blue3);
    color: white;
    transition: all 0.7s;
}

