.CadastroServicoContent h4 {
    color: var(--blue3);
    font-weight: 550;
}
.CadastroServicoContent .produtoLayout{
    padding: 15px;
    clear: both;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.CadastroServicoContent .produtoLayout .titleReturn{
    display: 	flex;
    flex-direction: row;
    justify-content: space-between;
}
.CadastroServicoContent .produtoLayout h5{
    color: var(--blue3);
}

