.pagamento{
    margin: 120px auto 0 auto;
    height: calc(492px + 120px);
    display: flex;
    width: 70vw;
    
    flex-direction: column;

}
.pagamento h4{
    color: var(--blue3);
    font-weight: 600;
}
.pagamento .accountPayment{
    border: 1px solid black;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    color: var(--blue3);
    font-weight: 500;
}
.pagamento .accountPayment .change{
    font-weight: 600;
    cursor: pointer;
}
.pagamento .buttons{
    margin-top: 350px;
    display: flex;
    justify-content: space-between;
}
.pagamento .buttons button{
    font-size: 16px;
}