:root {
    --blue3: #234063;
    --blue4: #1E2D3F;
    --white: #EDF2F4;
    --text-color: #333;
    --link-color: #1E2D3F;
    --heading-color: #234063;
}

.SolicitacaoContent {
    margin: 230px auto 20vh 130px;
    width: 680px;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: start;
    color:var(--blue3);
}

.SolicitacaoContent p{

        margin: 50px auto 20vh auto;

}
.SolicitacaoContent .DesignCell{

    margin: -350px auto 20vh 1000px;

}
.SolicitacaoContent button{

background-color: #1E2D3F;
border-radius: 15px;
margin-left: 80px;
border-color: #1E2D3F;
padding: 4px;
width: 310px;
height: 50px;
font-size: 20px;

}

