
.user-page{
    height: fit-content;
    width: 1200px;
    margin: 90px auto 40px auto;
    padding: 25px;
}
.user-page .menuResponsivo{
    display: none;
    width: 100%;
    margin: 0 auto;
    
}
.user-page .menuResponsivo .openMenu{
    width: 80%;
}

.user-page .user-nav{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.user-page .user-nav ul{
    list-style: none;
    padding: 0;
}
.user-page .user-nav .user-nav-links{
    width: 300px;
    height: 450px;  
    box-shadow: 0px 3px 12px -3px rgba(0,0,0,0.36);
}
.user-page .user-nav .user-nav-links button{
    width: 100%;
    padding: 11px;
    background-color: white;
    border: none;
    color: rgba(0,0,0,0.70);
    
    
}
.user-page .user-nav .user-nav-links button:hover{
    background-color:   rgb(142, 154, 175,0.5);
    transition: background-color 0.1s;
    color: black;
}

.section-date{
    width: 100%;
    height: 100%;
    box-shadow: 0px 3px 12px -3px rgba(0,0,0,0.36);
}

/* UserProfile - Formatações */
.userProfile{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.userProfile .logoEmpresaContent{
    display: flex;
    justify-content: center;
}
.userProfile .logoEmpresaContent .logoEmpresa{
    width: 120px;
    align-self: center;
    border-radius: 100%;  
}
.userProfile .logoEmpresaContent .editIcon{
    width: 20px;
    margin-top: 100px;
    position: relative;
    right: 13px;
}
.userProfile p, .userProfile h2{
    text-align: center;   
}
.userProfile h2{
    color: var(--blue3);
}
.userProfile p{
    opacity: .7;
}
.userProfile .userItens1{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.userProfile .userItens1 .form-group .nomeExibicao{
    width: 100%;
}
.userProfile .endereco p{
    opacity: 0.7;
    text-align: left;
}
.userProfile .endereco .cepInputs .itens1,
.userProfile .endereco .cepInputs .itens2,
.userProfile .endereco .cepInputs .itens3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.userProfile .endereco .cepInputs input{
    width: 380px;
}
.userProfile .endereco .cepInputs  .editar {
    background-color: var(--blue3);
    border: none;
}

.userProfile .dadosPessoais p{
    text-align: left;
}

.userProfile .dadosPessoais .nome-ultimo input{
    width: 200px;
}

.edit{
    padding: 20px;
    color: var(--blue3);
}

/* userSettings - Formatações */

.userSettings {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    
}
.userSettings .iconClosed{
    font-size: 200px;
    margin: 0 auto;
    
}



@media screen and (max-width: 1200px){
    .user-page{
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
    }
    .user-page .user-nav .section-date .userProfile{
        width: 100%;
        justify-content: space-around;
    }
    .userProfile .userItens1 input{
        width: 300px !important;
        display: block !important;
        ;

        
    }
    .userProfile .endereco .cepInputs input{
        width: clamp(300px, 35vw, 350px) ;
    }

    .user-page .user-nav .section-date .userProfile .userItens1 i{
        display: block;
    }
    .user-page .user-nav .section-date{
        width:clamp(750px, 80vw, 1200px) !important;
        box-shadow: none;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .user-page .user-nav .section-date{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto !important;
    }
    
    .user-page .user-nav .user-nav-links{
        display: none;
    }
    .user-page .menuResponsivo{
        display: block;
        z-index: 99;
    }
    .user-page .menuResponsivo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .user-page .menuResponsivo .openMenu{
        width: 100%;
    }
    .userProfile{
        width: 100%;
    }
    
    @media screen and (max-width: 720px){
        .userProfile .userItens1{
            align-items: center;
            flex-direction: column;
        }
        .userProfile .userItens1 .form-group,
        .userProfile .userItens2{
            margin: 0 auto;
            width: 80%;
        }
        .userProfile .userItens1 .form-group input{
            width: 100% !important;
        }
        .userProfile .endereco .cepInputs .itens1,
        .userProfile .endereco .cepInputs .itens2,
        .userProfile .endereco .cepInputs .cidade{
            gap: 20px;
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .userProfile .endereco .cepInputs {
            width: 100%;
        }
    }
    
}