
.user-page{
    height: fit-content;
    width: 1200px;
    margin: 90px auto 40px auto;
    padding: 25px;
}
.user-page .menuResponsivo{
    display: none;
    width: 100%;
    margin: 0 auto;
    
}
.user-page .menuResponsivo .openMenu{
    width: 80%;
}

.user-page .user-nav{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.user-page .user-nav ul{
    list-style: none;
    padding: 0;
}
.user-page .user-nav .user-nav-links{
    width: 300px;
    height: 450px;  
    box-shadow: 0px 3px 12px -3px rgba(0,0,0,0.36);
}
.user-page .user-nav .user-nav-links button{
    width: 100%;
    padding: 11px;
    background-color: white;
    border: none;
    color: rgba(0,0,0,0.70);
    
    
}
.user-page .user-nav .user-nav-links button:hover{
    background-color:   rgb(142, 154, 175,0.5);
    transition: background-color 0.1s;
    color: black;
}

.section-date{
    width: 100%;
    height: 100%;
    box-shadow: 0px 3px 12px -3px rgba(0,0,0,0.36);
}


.edit{
    padding: 20px;
    color: var(--blue3);
}

/* userSettings - Formatações */

.userSettings {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    color: var(--blue3);


    
}
.userSettings .textocentral {
    text-align: center;
}
.userSettings .iconClosed{
    font-size: 200px;
    margin: 0 auto;
    
}





@media screen and (max-width: 1200px){
    .user-page{
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
    }
    .user-page .user-nav .section-date .userProfile{
        width: 100%;
        justify-content: space-around;
    }
    .user-page .user-nav .section-date .userProfile .userItens1 i{
        display: block;
    }
    .user-page .user-nav .section-date{
        width:clamp(750px, 80vw, 1200px) !important;
        box-shadow: none;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .user-page .user-nav .section-date{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto !important;
    }
    
    .user-page .user-nav .user-nav-links{
        display: none;
    }
    .user-page .menuResponsivo{
        display: block;
        z-index: 99;
    }
    .user-page .menuResponsivo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .user-page .menuResponsivo .openMenu{
        width: 100%;
        background-color: var(--blue3)
    }

    
}