.contentCodigo{
    margin: 120px auto 85px auto;
    width: 680px;
    height: 500px;
    box-shadow: 0px 3px 12px -3px rgba(0,0,0,0.36);
display: flex;
flex-direction: column;
    text-align: center;
color:var(--blue3);
}
.contentCodigo .codigo {
align-self: center;
width: 400px;

}
.contentCodigo .botãokljay {
    align-self: center;
    width: 300px;
    margin: 20px;
 background-color:var(--blue3);
 font-weight: 4500;
}
.contentCodigo .titulo {

    font-weight: 600;

}
.contentCodigo .tentOutrat {
    background-color: none;
    border: 1px solid var(--blue3);
    border-radius: 5px;
    color: #5A5A5A;
    width: 300px;
    align-self: center;
}

